/* colorConfig.css */

/* Default OBJs */
p{
    color:white;
}
h1{
    color:white;
}

/* adminCss Colors */
input { 
	background-color: rgb(236, 240, 241);
}

/* Classes */

/*adminCss Colors*/
.navBar{
	background-color:#67B8DE;
	border-color:#3399CC;
}
.navBar:active, .navBar:hover{
	background-color:#91C9E8;
	border-style:#67B8DE;
}
.popupAlert{
	background-color:#67B8DE;
}

/* checkinCss Colors */
.radioButtons span.radio::before {
    background-color:#3399CC;
}
.radioButtons span.radio::after{
    background-color:#B4DCED;
}
input[type="radio"]:checked + label span.radio::after{
    background-color:#3399CC;
}
.radioLabel{
    color:grey;
}

/* ID's */

/* commonCss Colors */
#top{
    border-color:lightgrey;
}
#adminText{
    color:black;
}
#content{
    border-color:white;
}

/* indexCss Colors */
#left{
	background-color:#67B8DE;
}
#right{
	background-color:#91C9E8;
}
#register:hover{
	background-color:#B4DCED;
}
#checkin:hover{
	background-color:#B4DCED;
}
#register:active{
	background-color:#B4DCED;
}
#checkin:active{
	background-color:#B4DCED;
}

/* adminCss Colors */
#buttonContainer{
	background-color:#67B8DE;
}
#importForm{
	background-color: #67B8DE;
    border-color:#3399CC;
}
#fileBrowserFormat{
	background-color:#2471A3;
}
#importButton{
	background-color:#8E44AD;
}
#logoutButton{
    border-color:#3399CC;
}
#phpContent{
	background-color:white;
}

/* checkinCss Colors */
#credsForm{
	background-color: #B4DCED;
}
#formHeader{
	color: white;
	background-color: #3399CC;
}
#drawingRadio{
    color:grey;
}
#loginButton {
  	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #3399CC;
	color: white;
}

/* CUSTOM */

/* adminCss Colors */
::-webkit-input-placeholder {
	color: rgba(132, 132, 132, 0.65);
}