/* indexCss.css */

/* DEFAULTS */
html{
	height:100%;
    font-size:100%;
}
body{
	margin:0;
	height:100%;
	font-family: 'Quattrocento Sans', sans-serif;
}
p{
    margin:0;
	font-size:1rem;
	color:white;
}
h1{
	font-size:2rem;
	color:white;
	margin:0;
}

/* Classes */

/* ID's */

#top{
	height:5%;
	width:100%;
    border-bottom:solid .1rem lightgrey;
	position:relative;
}
#adminText{
    color:black;
    font-size:1rem;
    font-weight:bold;
}
#content{
    position:absolute;
    top:5%;
    right:0;
    bottom:0;
    left:0;
    border-left:solid 1rem white;
    border-right:solid 1rem white;
    border-bottom:solid 1rem white;
}
#vmugPeople{
	position:absolute;
    left:0;
    top:0;
	padding-left:1rem;
	height:100%;
}
#adminLogin{
    height:100%;
    padding-left:.25rem;
}
#adminLoginButton{
    height:100%;
    position:absolute;
    right:0;
    bottom:0;
    padding-right:1rem;
	padding-top:.2rem;
	padding-bottom:.2rem;
}
#leftWrap{
    float:left;
}
#rightWrap{
    float:left;
    height:100%;
}