/* indexCss.css */

/* DEFAULTS */
hr{
	display:block;
	border-width:.25em;
}
a:hover, a:visited, a:link, a:active{
	text-decoration:none;
}

/* Classes */

.indexButtons{
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

/* ID's */

#left{
	background-color:#2ABB9B;
	height:100%;
	width:50%;
	float:left;
}
#textWrapper{
	text-align:center;
}
#right{
	background-color:#36D7B7;
	height:100%;
	width:50%;
	float:left;
}
#register:hover{
	background-color:#049372;
}
#checkin:hover{
	background-color:#049372;
}
#register:active{
	background-color:#049372;
}
#checkin:active{
	background-color:#049372;
}