/* colorConfig.css */

/* Default OBJs */
p, h1{
    color:white;
}

/* adminCss Colors */
input { 
	background-color: white;
}

/* Classes */

/*adminCss Colors*/
.navBar, .popupAlert, .navForm{
	background-color:#C3971C;
}
.navBar{
	border-color:#D6AC23;
}
.navBar:active, .navBar:hover{
	background-color:#A97D0C;
	border-color:#D6AC23;
}
.navForm{
	border-color:#D6AC23;
}
.sideNav{
	background-color:black;
}
.formDef{
	background-color:#463C28;
}

/* checkinCss Colors */
.radioButtons span.radio::before {
    background-color:#D6AC23;
}
.radioButtons span.radio::after{
    background-color:#463C28;
}
input[type="radio"]:checked + label span.radio::after{
    background-color:#D6AC23;
}
.radioLabel{
    color:grey;
}

/* ID's */

/* commonCss Colors */
#top{
    border-color:lightgrey;
}
#adminText{
    color:black;
}
#content{
    border-color:white;
}

/* indexCss Colors */
#left{
	background-color:#A97D0C;
}
#right{
	background-color:#C3971C;
}
#register:hover, #checkin:hover, #register:active, #checkin:active{
	background-color:#463C28;
}

/* adminCss Colors */
#buttonContainer{
	background-color:#C3971C;
}
#fileBrowserFormat{
	background-color:#C3971C;
}
#importButton{
	background-color:#D6AC23;
}
#logoutButton{
    border-color:#D6AC23;
}
#phpContent{
	background-color:white;
}

/* checkinCss Colors */
#credsForm{
	background-color: #463C28;
}
#formHeader{
	color: white;
	background-color: #D6AC23;
}
#drawingRadio{
    color:grey;
}
#loginButton {
  	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #D6AC23;
	color: white;
}

/* CUSTOM */

/* adminCss Colors */
::-webkit-input-placeholder {
	color: rgba(132, 132, 132, 0.65);
}