/* indexCss.css */

/* DEFAULTS */
html{
	height:100%;
}
body{
	margin:0;
	height:100%;
	font-family: 'Quattrocento Sans', sans-serif;
}
button{
	height:100%;
	border:none;
}
p{
	font-size:1.5em;
	color:white;
}
h1{
	font-size:3em;
	color:white;
	position:relative;
	margin:0;
}

/* Classes */

/* ID's */

#top{
	background-color:white;
	height:5%;
	width:100%;
	position:relative;
}
#content{
    background-color:#36D7B7;
    position:absolute;
    top:5%;
    right:0;
    bottom:0;
    left:0;
    border-left:solid 1em white;
    border-right:solid 1em white;
    border-bottom:solid 1em white;
}
#vmugPeople{
	position:absolute;
	padding-left:1em;
	height:100%;
}
#adminLogin{
	padding-right:1em;
	padding-top:.2em;
	padding-bottom:.2em;
	height:100%;
	position:absolute;
	bottom:0;
	right:0;
}